html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

botao {
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  color: white;
}

button:hover {
  background: #d60d17;
}  